logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
coverage_js
node_modules
typings
ts-node
.lock-wscript
.tsdrc
.typingsrc
.idea
*.iml
.vscode
/tools/**/*.js
dist
dev
docs
test
tmp
gulpfile.js
gulpfile.js.map
.DS_Store
*.swp
dist
/coverage
/buildShopJSFile
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
